In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier,export_text

In [2]:
data=pd.read_csv('kyphosis.csv')

In [3]:
data.head()

   Age  Number  Start Kyphosis
0   71       3      5   absent
1  158       3     14   absent
2  128       4      5  present
3    2       5      1   absent
4    1       4     15   absent

In [4]:
x=data.drop('Kyphosis',axis=1)
y=data['Kyphosis']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [5]:
x_train.head()

    Age  Number  Start
50   68       5     10
20   22       2     16
2   128       4      5
63  118       3     16
57  120       5      8

In [6]:
model=DecisionTreeClassifier(random_state=0,max_depth=3)
s=model.fit(x_train,y_train)
s1=export_text(s)
print(s1)
pred=model.predict(x_test)
print(classification_report(y_test,pred))
print(confusion_matrix(y_test,pred))

|--- feature_2 <= 8.50
|   |--- feature_1 <= 5.50
|   |   |--- feature_0 <= 72.00
|   |   |   |--- class: absent
|   |   |--- feature_0 >  72.00
|   |   |   |--- class: present
|   |--- feature_1 >  5.50
|   |   |--- class: present
|--- feature_2 >  8.50
|   |--- feature_2 <= 14.50
|   |   |--- feature_0 <= 75.00
|   |   |   |--- class: absent
|   |   |--- feature_0 >  75.00
|   |   |   |--- class: absent
|   |--- feature_2 >  14.50
|   |   |--- class: absent

              precision    recall  f1-score   support

      absent       0.91      0.95      0.93        22
     present       0.50      0.33      0.40         3

    accuracy                           0.88        25
   macro avg       0.71      0.64      0.67        25
weighted avg       0.86      0.88      0.87        25

[[21  1]
 [ 2  1]]

In [8]:
from sklearn.metrics import accuracy_score
print("Accuracy: ",accuracy_score(y_test,pred)*100)

Accuracy:  88.0

In [25]:
age=int(input())
num=int(input())
start=int(input())
data={'Age':[age],'Number':[num],'Start':[start]}
df=pd.DataFrame(data)

1
4
15

In [26]:
df

   Age  Number  Start
0    1       4     15

In [27]:
y_pred=model.predict(df)

In [28]:
y_pred

array(['absent'], dtype=object)